[Unit]
Description=My autogit download service for git repo %i
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=%h/Documents/autogit/download.sh %h/Documents/%i
ExecStop=%h/Documents/autogit/upload.sh %h/Documents/%i
